@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700|Noto+Sans:400,700|Noto+Serif);

body {
    background-color: #353a26;
  margin: auto;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;

  }
  
  header {
    height: 140px;
    background-color: #3f220b;
    margin-bottom: 40px;
  }


  header nav ul li:last-child a {
    margin-right: 0;
  }
  
  header nav {
    display: flex;
    justify-content: center;
  }
  
  header nav ul {
    color: #f0eee9;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    list-style: none;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    font-family: Montserrat;
    color:#f0eee9;
    text-decoration: none;
    margin: 0 20px 0 0;
  }

  
  header nav ul li a:hover {
    color: #f0eee9;
  }
  
  @media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
        
    header nav {
      margin-top: 14px;
      justify-content: center;
    }
    header h1 {
        color: #f0eee9;
        text-align: center;
        margin: 0;
        padding-top: 20px;
      }
      
    
      header nav ul li a:hover {
        color: #f0eee9;
      }
  }
  
    
  main {
    padding: 20px 0;
  }
  
  section {
    margin-bottom: 100px;
  }
  
  section.dark-background {   
    background-color:  #f0eee9 ;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 80px 0;
  }
  
  footer {
    width: auto;
    height: 20px;
    clear:both;
    background:#3f220b;
    text-align: center;
  padding: 30px;
  margin: 0;
    }

  
    
  h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 42px;
    color: #f0eee9;
    margin: 14px 0;
    padding-top: 6px;
    font-size: 48px;
    text-align:center;
    font-size: 42px;
margin: 14px 0;
padding-top: 20px;
}

  
  h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #f0eee9;
    margin: 0px;
    padding-top: 16px;
    font-size: 22px;
    text-align: center;
}

h1, h2 {
    color: #f0eee9;
    font-family: 'Noto Serif', serif;
}

  h3 {
    color: #f0eee9;
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
  }
  
  p {
    color: #f0eee9;
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5em;
   margin-bottom: 0;
  }
  
  main a {
    color: #f0eee9;
      font-weight: 700;
      text-decoration: none;    
  }
  
  main  a:link { color: #c78c20; }
  main  a:visited { color: #c78c20; }
  main  a:hover { color: #9b4d09; }
  a:active { color: #9b4d09; }
  
  
  a:hover {
      text-decoration: underline;   
  }
  
  footer p {
    color: #f0eee9;;
    text-align: center;
    padding: 20px;
  }
  
  
  main img {
    width: 100%;
    border: 1px solid #f0eee9;
    background-image:url(images/Abu.jpg);
    background-repeat: no-repeat;
}
  
  
  img.image-enhanced {
    border-radius: 8px;
  }
  
  .group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
  }
  
  ul  {
    color: #f0eee9;
  }
  
  
  
  @media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: row;
    }
  }
  
  
  
 
  
  form {
    padding-right: 8px;
    
  }
  
  form label {
    display: block;
  }
  
  form input, 
  form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }
  
  
  
  
  
  
  
  

